.about {
    width: 100%;
    margin: 3rem 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; /* Alignement vertical au début */
}

.about .left {
    flex: 1;
    text-align: center;
    max-width: 50%; /* Modification de la largeur à 50% */
    margin: 1rem;
    padding: 1rem;
}

.about .left p {
    margin: 1.2rem 0;
}

.about .right {
    flex: 1;
    max-width: 50%; /* Modification de la largeur à 50% */
    margin: 1rem;
}

.right .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    text-align: center;
    height: 400px; /* Hauteur fixe pour l'image */
    overflow: hidden; /* Pour gérer le dépassement de l'image */
}

.right .img {
    width: auto; /* Ajustement automatique de la largeur */
    height: auto; /* Ajustement automatique de la hauteur */
    max-width: 100%; /* Largeur maximale de l'image */
    max-height: 100%; /* Hauteur maximale de l'image */
    object-fit: cover; /* Ajustement de l'image tout en conservant les proportions */
    border: 1px solid #333;
    border-radius: 10px; /* Arrondi des bords */
    transition: width 0.3s, height 0.3s; /* Animation de transition pour une modification fluide */
}

.right .top,
.right .bottom {
    position: absolute;
    z-index: 5;
    background-color: rgba(255, 255, 255, 0.7); /* Translucide */
    padding: 1rem;
}

.right .top {
    top: 0;
    left: 0;
}

.right .bottom {
    bottom: 0;
    right: 0;
}

/* Ajustements réactifs pour les écrans plus petits */
@media screen and (max-width: 640px) {
    .about {
        flex-direction: column; /* Disposition en colonne sur les petits écrans */
    }

    .about .left,
    .about .right {
        max-width: 100%; /* Modifier la largeur à 100% pour occuper toute la largeur sur les petits écrans */
        margin: 0.5rem 0; /* Réduire les marges sur les petits écrans */
    }

    .right .img-container {
        height: auto; /* Hauteur automatique pour s'adapter au contenu sur les petits écrans */
    }

    .right .img {
        width: 100%; /* L'image prend toute la largeur disponible sur les petits écrans */
        height: auto; /* Hauteur automatique */
    }

    .right .top,
    .right .bottom {
        position: relative; /* Position relative pour éviter les chevauchements sur les petits écrans */
        background-color: transparent; /* Fond transparent pour le texte */
        padding: 0.5rem; /* Réduire le padding pour économiser de l'espace */
    }
}
